extends layout 

block content
  main(class="grid grid-cols-[auto_1fr]")
    include ./category_sidebar
    div.flex.flex-col.items-center.justify-self-center
      header.p-4
        div.flex.justify-center.gap-2
          h1.text-xl= title
          button.modalButton.buttonUpdate update
          if category_items.length === 0
            button.modalButton.buttonDelete delete
          else
            button.modalButton.buttonDelete.hidden delete
        p= category.description
      div#categoryItems.flex.gap-4
        each item in category_items
            a(href=item.url).bg-slate-100.p-4.rounded #{item.name}
        else 
          p There are no items in this category 

      include ./category_modal_form
      include ./modal_delete
