extends modal_layout

block content

  form#modalForm(method='POST' action='/category/${category._id}/delete' name="modalForm").bg-white.p-6.rounded.flex.flex-col.gap-2
    h2 Delete category: 
    p.text-red-500= title
    input(type='hidden', name='categoryid', required='true', value=category._id)
    div.flex.gap-2.pt-4
      button#modalCancel(type='button').bg-black.w-fit.px-4.py-1.rounded.text-white Cancel
      button#modalSubmit(type='submit').bg-red-500.w-fit.px-4.py-1.rounded.text-white Delete

