extends layout

block content
  div.flex.flex-col.items-center
    h1= message
    h2= error.status
    pre #{error.stack}

    div.flex.gap-4.mt-4
      a(href="/").bg-slate-100.p-4.rounded Redirect to Home
      a(href="/item").bg-slate-100.p-4.rounded Redirect to Products
      a(href="/category").bg-slate-100.p-4.rounded Redirect to Categories
