footer(class="mx-[-0.5rem] sm:mx-[-6rem] mt-8")
  section(class="flex justify-center gap-8 bg-[#F5F7FF] py-8 lg:py-16 flex-wrap")
    div(class="flex flex-col items-center gap-2")
      img(src="/images/png/support_icon.png" class="border-8 border-[#0156FF] rounded-full")
      h2(class="font-bold text-lg") Product Support
      p(class="text-sm text-center")  
        span Up to 3 years on-site warranty
        span.block available for your peace of mind.
    div(class="flex flex-col items-center gap-2")
      img(src="/images/png/account_icon.png" class="border-8 border-[#0156FF] rounded-full")
      h2(class="font-bold text-lg") Personal Account
      p(class="text-sm text-center")
        span With big discounts, free delivery and
        span.block a dedicated support specialist.
    div(class="flex flex-col items-center gap-2")
      img(src="/images/png/savings_icon.png" class="border-8 border-[#0156FF] rounded-full")
      h2(class="font-bold text-lg") Amazing Savings
      p(class="text-sm text-center")
        span Up to 70% off new Products, you can
        span.block be sure of the best price.
  section(class="bg-[#020203] text-white sm:px-24 py-12 flex justify-between flex-wrap gap-4 p-2")
    div(class="flex flex-col gap-4")
      h2(class="capitalize text-4xl") Sign up to our newsletter.
      p(class="") Be the first to hear about the latest offers.
    div(class="self-end flex gap-2")
      input(class="h-full bg-transparent border-[1px] border-white rounded p-3 w-full lg:w-[390px]" placeholder="Your Email")
      button(class="bg-[#0156FF] px-6 py-3 rounded-full font-bold") Subscribe
  section(class="bg-[#020203] text-white sm:px-24 py-2 p-2")
    div
    a(href="https://github.com/21ance") developed by 
      span.text-blue-500 @21ance
