header(class="sticky top-0 flex flex-col mx-[-0.5rem] sm:mx-[-6rem] z-20")
  div(class="bg-neutral-950 text-white h-[44px] text-sm flex justify-center sm:justify-between items-center sm:px-24")
    span(class="hidden sm:block")
      span.text-neutral-400 Mon-Thu #{" "}
      span.font-bold 9:00 AM - 5:30 PM
    span(class="gap-2 hidden xl:flex")
      span.text-neutral-400 Visit our showroom in 1234 Street Address City Adress, 1234 
      a(href="" class="hover:text-blue-500 font-bold underline underline-offset-4") Contact Us
    div.flex.gap-2
      span Call Us: (00) 1234 5678
      a(href="")
        img(src="/images/svg/fb.svg")
      a(href="")
        img(src="/images/svg/ig.svg")
  div(class="flex justify-start items-center font-bold shadow sm:px-24 sm:py-4 bg-white relative")
    a(href="/")
      img(src="/images/svg/logo.svg")
    nav(class="gap-4 hidden sm:flex")
      if category_list
        each category in category_list
          a(href=`/category/${category.id}` class="hover:text-blue-500")= category.name
    button(class="buttonLogin text-blue-500 rounded-full border-2 py-1 px-4 border-blue-500 absolute right-0 mr-[1rem] sm:mr-[6rem]") Login
