extends layout

block content
  div.flex.flex-col.items-center
    a(href="/categories").text-xl.pt-4 Categories
    div.flex.gap-4.flex-wrap.justify-center
      each category in category_list
          a(href=category.url).bg-slate-100.p-4.rounded #{category.name}
      else 
        p There are no categories 

  div.flex.flex-col.items-center
    a(href="/items").text-xl.pt-4 Items
    div.flex.gap-4.flex-wrap.justify-center
      each item in item_list
          a(href=item.url).bg-slate-100.p-4.rounded #{item.name}
      else 
        p There are no categories 