doctype html
html(lang="en")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  include ./header
  body(class="sm:px-24 relative")
    block content
  script(src='/javascripts/modal.js')
  script(src='/javascripts/scroll.js')
