section(class="flex justify-center items-center bg-[#F5F7FF] py-6 rounded gap-2 text-lg")
  img(src="/images/svg/zip.svg")
  span(class="text-[#00AEB8] font-bold") |
  p(class="text-[#272560]")
    span.font-bold own
    | #{" "} it now, up to 6 months interest free #{" "}
    a(href="").underline learn more
